.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  padding: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 90%;
  max-width: 1200px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}

.modal-content:has(.modal-cadastro-bueiro) {
  width: auto;
  max-width: 90vw;
  height: auto;
  max-height: 90vh;
  display: inline-flex;
}

.modal-content:has(.bueiro-detalhes-modal) {
  width: auto;
  max-width: 90vw;
  height: auto;
  max-height: 90vh;
  display: inline-flex;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff7f00;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
