.login-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
}

.map-placeholder {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0;

  background-image: url("../../assets/map-placeholder.png");
  background-size: cover;
  background-position: center;
  min-width: 300px;

  position: relative;
}

.map-placeholder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.map-logo-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 50px;
  z-index: 2;
}

.login-card {
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: 0;

  padding: 70px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 0;
}

.mov-logo {
  width: 100px;
  margin-bottom: 30px;
}

.login-card h2 {
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
}

.login-card form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
}

.login-card input {
  padding: 14px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f4f4f4;
  outline: none;
  transition: box-shadow 0.2s, background-color 0.2s;
}

.login-card input:focus {
  box-shadow: 0 0 0 2px #ff7f00;
  background-color: #fff;
}

.login-card button {
  background-color: #ff7f00;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-card button:hover {
  background-color: #e67300;
}

/* --- RESPONSIVIDADE (Para Celular) --- */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 450px;
    width: 90%;
    min-height: auto;
    max-height: 90vh;
    overflow-y: auto;
  }

  .map-placeholder {
    min-height: 250px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    min-width: unset;
  }

  .map-logo-overlay {
    display: none;
  }

  .login-card {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 40px 30px;
    width: 100%;
  }

  .login-card form {
    max-width: 100%;
  }
}
